<ion-view style="" class="" id="page4" title="">
	<ion-content class="no-header background" style="top: 0;" padding="false" ng-init="loadMenu()">

		<div>
			<img ng-src="img/background.jpg" style="width:100%; padding: 0px; margin: 0px; display: block-inline"/>
		</div>
		<!-- <div class="col"> -->
			<img ng-src="img/latest2/whisky.jpg" ui-sref="spirits" style="width:100%; padding: 0px; margin: 0px; display: block-inline"/>
		<!-- </div> -->
		<!-- <div class="col"> -->
		<img ng-src="img/latest2/wine.jpg" ui-sref="wine" style="width:100%; padding: 0px; margin: 0px; display: block-inline"/>
		<!-- </div> -->
		<!-- <div class="col"> -->
			<img ng-src="img/latest2/beer.jpg" ui-sref="beers" style="width:100%; padding: 0px; margin: 0px; display: block-inline; opacity: 1.0"/>
		<!-- </div> -->
		<!-- <div class="col"> -->
			<img ng-src="img/latest2/tobacco.jpg" ui-sref="tobacco" style="width:100%; padding: 0px; margin: 0px; display: block-inline; opacity: 1.0"/>
		<!-- </div> -->
		<!-- <div class="col"> -->
			<img ng-src="img/latest2/accessories.jpg" ui-sref="accessories" style="width:100%; padding: 0px; margin: 0px; display: block-inline; opacity: 1.0"/>
		<!-- </div> -->
		<!-- <div class="col"> -->
			<img ng-src="img/latest2/others.jpg" ui-sref="others" style="width:100%; padding: 0px; margin: 0px; display: block-inline; opacity: 1.0"/>
		<!-- </div> -->
	</ion-content>
</ion-view>