<ion-view style="" class=" " id="page10" title="Contact Us">
  <ion-content class="no-header background" padding="false" >
    <ion-list class=" " >
      <!-- Profile Cover Page -->
      <div class="support-nav col-md-3">
        <div class="panel">
          <div class="user-heading round">
            <a href="#">
              <img  src="img/.jpg">
            </a>
            <p style="color: #ffffff;">VAST Innovation</p>
          </div>
        </div>
      </div>
      <br/>
      <!-- Profile Cover Page -->
      <div class="support-nav col-md-3">
        <div class="panel">
          <div class="user-heading round">
            <a href="#">
              <img  src="img/.jpg">
            </a>
            <p style="color: #ffffff;">Shiva Sakte Ballan</p>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>