<HTML>
<BODY>
<FORM method="post" name="ePayment" action="https://www.mobile88.com/ePayment/entry.asp">
<INPUT type="hidden" name="MerchantCode" value="M13125">
<INPUT type="hidden" name="PaymentId" value="2">
<INPUT type="hidden" name="RefNo" value="A00111111">
<INPUT type="hidden" name="Amount" value="1.00">
<INPUT type="hidden" name="Currency" value="MYR">
<INPUT type="hidden" name="ProdDesc" value="Photo Print">
<INPUT type="hidden" name="UserName" value="Shiva Sakte">
<INPUT type="hidden" name="UserEmail" value="skate_92@ymail.com">
<INPUT type="hidden" name="UserContact" value="0126500100">
<INPUT type="hidden" name="Remark" value="">
<INPUT type="hidden" name="Lang" value="UTF-8">
<INPUT type="hidden" name="SignatureType" value="SHA1">
<INPUT type="hidden" name="Signature" value="d0a27d24f06408438d67a1c8474ac769a27442714aba6076f43791d25b4c44e1">
<INPUT type="hidden" name="ResponseURL" value="http://175.144.81.42/response.php">
<INPUT type="hidden" name="BackendURL" value="http://175.144.81.42/backend_response.asp">
<br>
<br>
<br>
<br>
<br>
<br>
<INPUT type="submit" value="Proceed with Payment" name="Submit"> </FORM>
</BODY>
</HTML>